/**
 * kingofpop wrapper
 */
div#kingofpop {
  padding: 2px;
  text-align: center;
}
/**
 * city name
 */
div#kingofpop strong {
  text-transform: none;
  font-style: normal;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}
/**
 * the flag
 */
div#kingofpop img {
  width: 140px;
  border: 0;
  padding: 0;
  margin: 0;
}
/**
 * wikipedia dn google maps link
 */
div#kingofpop a:link, div#kingofpop a:active, div#kingofpop a:visited {
  font-weight: bold;
  text-transform: none;
  text-decoration: underline;
  font-style: normal;
  font-size: 11px;
  padding: 0;
  margin: 0;
}
div#kingofpop a:hover {
  text-decoration: none;
}
/**
 * kingofpop footer
 */
div#kingofpop small, div#kingofpop small a:link, div#kingofpop small a:active, div#kingofpop small a:visited, div#kingofpop small a:hover {
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  color: #aaa;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  font-size: 10px;
}